.App {
background: #EAEAEA;
}

/* Elements */


button {
  font-size: 20px;
  margin-right: 10px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  float: right;
}
.Map{
  margin-top: -20px;
  
}

/* Class */






/* Media screen size */
@media screen and (min-width: 768px) { 



 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.seach_input{
  background-color:#EAEAEA;
  border-radius: 10px;
  opacity: 50;
 
}


.info_link{
  background-color: yellow;
  
}

.search_form{
  background-color:#EAEAEA ;
  float: right;
  margin-right: 50px;
  margin-top: 30px;
  
 
}
.Header{
  background-color:#EAEAEA ;
}

.info{
  margin-left: -3px;
   background-color: #EAEAEA;
  list-style-type: none;
  display: inline; /* Отображать как строчный элемент */
  border: 2px solid #000; /* Рамка вокруг текста */
  padding: 10px 140px 10px; /* Поля вокруг текста */
}
.museum{
  background-color: #EAEAEA;
  list-style-type: none;
  display: inline; /* Отображать как строчный элемент */
  margin-left: 25px;
  border: 2px solid #000; /* Рамка вокруг текста */
  padding: 10px 140px 10px; /* Поля вокруг текста */
}
.phihalrmonic{
  background-color: #eaeaeaed;
  list-style-type: none;
  display: inline; /* Отображать как строчный элемент */
  margin-left: 25px;
  border: 2px solid #000; /* Рамка вокруг текста */
  padding: 10px 110px 10px; /* Поля вокруг текста */
}
.theaters{
  background-color: #EAEAEA;
  list-style-type: none;
  display: inline; /* Отображать как строчный элемент */
  margin-left: 25px;
  border: 2px solid #000; /* Рамка вокруг текста */
  padding: 10px 140px 10px; /* Поля вокруг текста */
}
.info_text
{text-decoration: none;
color: black;
font-weight: bold
}
.museum_text
{text-decoration: none;
  color: black;
  font-weight: bold;
}
.phihalrmonic_text
{text-decoration: none;
  color: black;
  font-weight: bold
}
.theaters_text
{text-decoration: none;
  color: black;
  font-weight: bold
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
