.App {
    background: #EAEAEA;
}

/* Elements */


button {
    font-size: 20px;
    margin-right: 10px;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    float: right;
}

.Map {
    margin-top: -20px;

}

/* Class */


.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.search-input {
    background-color: #EAEAEA;
    border-radius: 10px;
    opacity: 50;
}

.info-link {
    background-color: yellow;
}

.search-form {
    background-color: #EAEAEA;
    float: right;
    margin-right: 50px;
    margin-top: 30px;
}

.Header {
    background-color: #EAEAEA;
}

.info {
    margin-left: -3px;
    background-color: #EAEAEA;
    list-style-type: none;
    display: inline; /* Отображать как строчный элемент */
    border: 2px solid #000; /* Рамка вокруг текста */
    padding: 10px 140px 10px; /* Поля вокруг текста */
}

.info:hover {
    transition: background 0.3 ease 0s;
    border: 2px solid #e34761;
    border-color: black;
    background: #7B9777;
    color: black;

}

.museum {
    background-color: #EAEAEA;
    list-style-type: none;
    display: inline; /* Отображать как строчный элемент */
    margin-left: 25px;
    border: 2px solid #000; /* Рамка вокруг текста */
    padding: 10px 140px 10px; /* Поля вокруг текста */
}

.museum:hover {
    transition: background 0.3 ease 0s;
    border: 2px solid #e34761;
    border-color: black;
    background: #568EA4;
    color: black;
}

.phihalrmonic {
    background-color: #eaeaeaed;
    list-style-type: none;
    display: inline; /* Отображать как строчный элемент */
    margin-left: 25px;
    border: 2px solid #000; /* Рамка вокруг текста */
    padding: 10px 110px 10px; /* Поля вокруг текста */
}

.phihalrmonic:hover {
    transition: background 0.3 ease 0s;
    border: 2px solid #e34761;
    border-color: black;
    background: #7B9777;
    color: black;
}

.theaters {
    background-color: #EAEAEA;
    list-style-type: none;
    display: inline; /* Отображать как строчный элемент */
    margin-left: 25px;
    border: 2px solid #000; /* Рамка вокруг текста */
    padding: 10px 140px 10px; /* Поля вокруг текста */
}

.theaters:hover {
    transition: background 0.3 ease 0s;
    border: 2px solid #e34761;
    border-color: black;
    background: #15456D;
    color: black;
}

.info_text {
    text-decoration: none;
    color: black;
    font-weight: bold
}

.info_text:hover {
    color: white;
}

.museum_text {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.museum_text:hover {

    color: white;

}

.phihalrmonic_text {
    text-decoration: none;
    color: black;
    font-weight: bold
}

.phihalrmonic_text:hover {
    color: white;
}

.theaters_text {
    text-decoration: none;
    color: black;
    font-weight: bold
}

.theaters_text:hover {

    color: white;

}

.App-link {
    color: #61dafb;
}


.Finfo {
    margin-left: 70px;
    text-decoration: none;
    color: black;
    font-weight: bold

}

.Fmuseum {
    margin-left: 70px;
    text-decoration: none;
    color: black;
    font-weight: bold
}

.Fphihalrmonic {
    margin-left: 70px;
    text-decoration: none;
    color: black;
    font-weight: bold
}

.Ftheaters {
    margin-left: 70px;
    text-decoration: none;
    color: black;
    font-weight: bold
}

.Fbook {
    margin-left: 70px;
    text-decoration: none;
    color: black;
    font-weight: bold

}

.Gallery {
    margin-left: 70px;
    text-decoration: none;
    color: black;
    font-weight: bold

}

.Footer {
    align-items: flex-start;
    margin-top: 25px;
    display: flex;

}

.Footer_size {
    display: flex;
    align-items: stretch;
}

.Footer1 {
    width: 200px;
}

.Footer2 {
    width: 300px;
}

.Footer3 {
    width: 700px;
    display: flex;
}

.Footer4 {
    width: 300px;
}

.button2 {
    text-decoration: none;

    background: black;
    color: #FFFFFF;
    line-height: 18px;
    height: 35px;
    width: 110px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 7px;
    display: inline-flex;
    padding: 0 55px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 30px;
    cursor: pointer;
    float: left;
    margin-top: 40px;
}

.button2:hover {
    transition: background 0.3 ease 0s;
    border: 2px solid #e34761;
    border-color: black;
    background: white;
    color: black;

}

.subscribe_input {
    background-color: transparent;
    margin-right: 20px;
    width: 287px;

    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: black;
    margin-left: 100px;
}

.subscribe_form {
    margin-top: 40px;
}

.icons {
    margin-top: 40px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.size-container {

    align-items: flex-start;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.row-rast {
    display: flex;
    align-items: stretch;
}


.row-col1 {
    width: 600px;
}

.row-col2 {
    width: 500px;
}

.button1 {
    text-decoration: none;

    background: black;
    color: #FFFFFF;
    line-height: 18px;
    height: 35px;
    width: 110px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 7px;
    display: inline-flex;
    padding: 0 55px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    float: left;
}

.button1:hover {
    transition: background 0.3 ease 0s;
    border: 2px solid #e34761;
    border-color: black;
    background: white;
    color: black;
}

.photo {
    box-shadow: 0 0 10px 3px rgb(106, 106, 106);
}

.s-container {
    align-items: flex-start;
    background: #ffffff;
    display: flex;
    justify-content: center;
}

.s2-container {
    align-items: flex-start;
    background: #568EA4;
    display: flex;
    justify-content: center;
}

.s3-container {
    align-items: flex-start;
    background: #15456D;
    display: flex;
    justify-content: center;
}

.s4-container {
    align-items: flex-start;
    background-image: url(image/Зеленка_фон.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
}

.s5-container {
    align-items: flex-start;
    background-image: url(image/карман_фон.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
}

.s6-container {
    align-items: flex-start;
    background-image: url(image/муравьишки_фон.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
}

.s7-container {
    align-items: flex-start;
    background-image: url(image/старый_город.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
}

.s8-container {
    align-items: flex-start;
    background-image: url(image/шлюз.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
}

.r-col1 {
    color: transparent;
}

.r-col2 {
    width: 490px;
    color: #FFFFFF;
}

.r-col3 {

    width: 300px;
    margin-left: 30px;
}

.r-col4 {
    width: 340px;
    margin-left: 90px;

    color: #FFFFFF;

}

.r-col5 {

}



.r-col6 {
    width: 440px;
    color: #FFFFFF;

}

.r-col7 {
    width: 300px;
    margin-left: 30px;
    color: #FFFFFF;

}

.r-col8 {
    width: 440px;
}

.r-col9 {
    width: 620px;
}

.r-col10 {
    width: 400px;


    color: #FFFFFF;

}

.r-col-v {
    width: 470px;  
}

.photo-w {
    margin-top: 21.440px;
    display: flex;
    justify-content: center;
}

.text-r {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 250px;
}

.alphabet-container {
    display: flex;
    align-items: center;
    background: #EAEAEA;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.alphabet-letter {
    width: 9.0909%;
    height: 9.0909%;
    transition: 1s;
}

.alphabet-letter:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.registration_input{
    
    background-color: transparent;
    margin-right: 200px;
    width: 287px;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: black;
    margin-left: 100px;
}
.Registration{
    margin-top: 100px;
    margin-right: 10px;
}
.popup_registration{
    width: 600px;
    height: 500px;
    position: absolute;
  z-index: 10000;
    left: 50%;
    margin-left: -280px;
    background-color: #EAEAEA;
    border-radius: 5px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 60px;
}
.close{
    float: right;
    margin-right: 20px;
    margin-top: 20px; 
    color: rgb(0, 0, 0);
    padding: 10px ;
}

.button_reg_form{

    background: black;
    color: #ffffff;
    height: 35px;
    width: 200px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 7px;
    cursor: pointer;
    margin-right: 210px;
    margin-top: 40px;
}
.Btn_reg_form{
    text-decoration: none;
    background: black;
    color: #FFFFFF;
    line-height: 18px;
    height: 35px;
    width: 240px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 25px;
    margin-right: 20px;
}
.Btn_reg_form:hover{
    transition: background 0.3 ease 0s;
    border: 2px solid #e34761;
    border-color: black;
    background: white;
    color: black;
}
.RegForm {
    margin-left: 70px;
    text-decoration: none;
    color: black;
    font-weight: bold
}
.registration_form_popup{
margin-left: 50px
}
.reg_text{
    text-decoration: none;
    color: black;
    font-weight: bold
}

.row-col1_profile{
    width: 450px;
    height: 400px;
    margin-top:50px;
    margin-left: 200px;
    box-shadow: 0 0 10px 3px rgb(43, 55, 103);
}
.user_name{
    margin-left: 150px;
    margin-top: 10px;
}
.photo_profile{
    margin-left: 180px;
    margin-top: 50px;;
}
.colvo_level{
    margin-left: 100px;
    margin-top: 0%;
}
.row-col2_profile{
    width: 600px;
    height: 330px;
    margin-top:50px;
    margin-left: 100px;
    margin-bottom: 100px;
    box-shadow: 0 0 10px 3px rgb(43, 55, 103);
}
.goal_text{
    margin-right: 40px;
    margin-left: 170px;
    margin-top: 50px;
}
.photo_level{
    margin-left: 100px;
    
}
.level_text{
    margin-left: 100px;
    
}
.row-goal1{
    width: 100px;
    margin-left: 180px;
}


