.li {
    display: inline-block;
}

.ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.header-nav-bar {
    display: flex;
    justify-content: space-around;
}

.Router {
    background-color: aqua;
}
 